BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
AlignEscapedNewlines: Left